@import url("normilize.css");
@import url("photographer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1800px;
}

body {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-top: 20px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer__location {
  color: #901c1c;
  font-size: 13px;
  margin-top: 3px;
}

.photographer__tag {
  font-size: 10px;
  margin-top: 3px;
}

.photographer__price {
  color: #757575;
  font-size: 9px;
  margin-top: 3px;
}

.photographer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
